:root { 
--green_300:#89c06f; 
--white_A700_b2:#ffffffb2; 
--gray_50_01:#f6f7fb; 
--gray_50_02:#f8f9fa; 
--black_900_b2:#000000b2; 
--gray_50_03:#f9f9f9; 
--gray_50_04:#f4f8ff; 
--light_blue_300:#54c1f0; 
--red_600:#f22a2a; 
--light_blue_A100:#67d7fd; 
--red_800:#ce1126; 
--blue_A200:#4d90ff; 
--green_900:#236823; 
--black_900_3f:#0000003f; 
--green_700:#398f3e; 
--black_900_01:#090b0d; 
--green_A700:#009e49; 
--teal_500:#02957d; 
--yellow_800:#d4ac1c; 
--teal_700:#027c68; 
--light_blue_A700:#0086ed; 
--blue_gray_700:#424c5d; 
--blue_900_01:#0052b4; 
--blue_gray_900_01:#2b2d2d; 
--blue_gray_900:#262b35; 
--black_900_03:#000c0a; 
--red_A700:#d80027; 
--black_900_02:#130e00; 
--black_900_4c:#0000004c; 
--gray_600:#6a7270; 
--blue_900:#003399; 
--gray_400:#c4c4c4; 
--blue_gray_100:#d6dae2; 
--orange_A200:#ffa44a; 
--white_A700_0c:#ffffff0c; 
--gray_800_19:#46464619; 
--blue_gray_300:#9ea8ba; 
--amber_500:#feb909; 
--gray_800:#3c4043; 
--black_900_0c:#0000000c; 
--black_900_0e:#0000000e; 
--blue_50:#e0ebff; 
--gray_400_01:#acb2b0; 
--indigo_900_01:#10338c; 
--indigo_900_02:#233266; 
--black_900_19:#00000019; 
--green_600_01:#34a853; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--indigo_600:#2e52b2; 
--red_700:#d03329; 
--blue_gray_50:#eaecf0; 
--blue_A700:#0a58ff; 
--gray_900_cc:#0d1624cc; 
--gray_600_19:#7e7e7e19; 
--amber_500_01:#fbbc04; 
--red_500:#ea4335; 
--light_blue_400:#1ba9ff; 
--green_800:#1a9f0b; 
--blue_A700_01:#0061ff; 
--green_600:#349765; 
--gray_50:#f9fbff; 
--green_400:#56c568; 
--black_900:#000000; 
--blue_A200_01:#4285f4; 
--gray_500_01:#979797; 
--yellow_900:#ed8c33; 
--black_900_29:#00000029; 
--blue_gray_800:#37474f; 
--gray_700_51:#67676751; 
--green_400_01:#65bc6a; 
--gray_700_11:#55555511; 
--black_900_e4:#000000e4; 
--gray_900_02:#1b222d; 
--gray_700:#666666; 
--gray_900_03:#11142d; 
--blue_gray_200:#bac1ce; 
--green_800_01:#29752b; 
--gray_500:#a6a6a6; 
--blue_gray_400:#74839d; 
--blue_800:#0051d5; 
--blue_gray_600:#5f6c86; 
--gray_900:#242424; 
--blue_600:#378fd3; 
--gray_900_01:#0d1624; 
--blue_gray_300_87:#919eab87; 
--blue_gray_900_7f:#3333337f; 
--teal_50:#dfecea; 
--gray_300:#e0e0e0; 
--gray_100:#f6f6f6; 
--white_A700_87:#ffffff87; 
--blue_400:#3a96dd; 
--indigo_900:#181a93; 
--blue_200:#a6c8ff; 
--gray_800_2b:#4545452b; 
}